body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/purple-water.jpg)
}

* {
    box-sizing: border-box;
  }

header{
    font-size: 40px;
    color: aliceblue;
    text-shadow: 3px 3px black;
    width: 80%;
    text-align: center;
    margin: auto;
    height: 150px;
}

.clearfix {
    width: 50%;
    margin: auto;
    font-size: 25px;
    color: aliceblue;
    text-shadow: 1px 1px black;
    overflow: auto;
    text-align: center;
}

#compPoints {
    background-color: indigo;
    width: 25%;
    float: left;
    margin-left: 20px;
}


#playPoints {
    background-color: rebeccapurple;
    width: 25%;
    float: right;
}

.game {
    width: 50%;
    margin: auto;
}

.crystals {
    display: inline;
    margin: auto;
    height: 200px;
    padding: 3%;
}

.counters {
    width: 20%;
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px aliceblue;
    margin: auto;
    background-color: darkviolet;
}

#instructions {
    width: 50%;
    margin: auto;
    font-size: 20px;
    background-color: mediumorchid;
    color: aliceblue;
    text-shadow: 2px 2px black;
}